{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-10 border-bottom">
  </div>
</div>

{{ range .Site.RegularPages }}
<div class="row justify-content-center pt-1">
  <div class="card col-10">
    <div class="card-body">
      <h5 class="card-title">
          {{ .Title }}
      </h5>
      <small class="card-subtitle text-body-secondary">
        Created: {{ .Date }}
      </small>
      <a class="stretched-link" href="{{ path.Join `/docs` .RelPermalink | printf `%v/` }}"></a>
    </div>
  </div>
</div>
{{ end }}
{{ end }}
